body{
    padding: 0;
    margin: 0;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(182,69,117,1) 52%, rgba(15,81,100,1) 76%, rgba(57,152,172,1) 87%, rgba(71,148,180,1) 100%);
}

.flag{
    width: 80px;
    margin-left: 20px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
    margin-right: 10px;
}   

.username{
    margin-top: 28px;
    font-size: 20px;
    font-weight: 20;
    color: black;
    font-family: 'Luckiest Guy',cursive;
}

#todays_date{
    margin-top: 28px;
    font-size: 20px;
    font-weight: 20;
    color: black;
    font-family: 'Luckiest Guy',cursive;
    margin-left: 5px;
}

.todays_date{
    margin-top: 28px;
    font-size: 20px;
    font-weight: 20;
    font-family: 'Luckiest Guy',cursive;
    color: black;
    margin-left: 200px;
}

.title{
    margin-top: 28px;
    font-size: 20px;
    font-weight: 20;
    font-family: 'Luckiest Guy',cursive;
    color: black;
    margin-left: 210px;
}

#nav{
    background-color: white;
}

.main-part{
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 0;
}

.ques{
    color: white;
    font-weight: 20;
    margin-bottom: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

.April_date{
    color: white;
    font-weight: 20;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#calender-icon{
    color: white;
    margin-top: 0;
    float: left;
}

.info{
    color: white;
    font-weight: 20;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 2px;
    margin-left: 5px;
}

#day_display{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 20;
    font-size: 60px;
    margin-left: 290px;
    margin-top: 60px;

}

#other_display{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 20;
    font-size: 30px;
    margin-left: 50px;
}



.maple-photo{
    float: right;
    margin-top: 0;
}


@media screen and (max-width: 600px) {
    .flag{
        width: 30px;
        margin-left: 2px;
        cursor: pointer;
    }

    .username{
        margin-top: 10px;
        font-size: 10px;
        font-weight: 20;
        color: black;
        margin-left: 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .title{
        margin-top: 10px;
        font-size: 10px;
        font-weight: 20;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: black;
        margin-left: 0;
    }

    
    #todays_date{
        margin-top: 10px;
        font-size: 10px;
        font-weight: 20;
        color: black;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 5px;
    }

    .todays_date{
        margin-top: 10px;
        font-size:  10px;
        font-weight: 20;
        font-family: 'Luckiest Guy',cursive;
        color: black;
        margin-left: 0;
        display: none;
    }

    .maple-photo{
        margin-top: 0;
        margin-right: 0;
    }

    #day_display{
        color: white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 20;
        font-size: 60px;
        margin-left: 200px;
        margin-top: 60px;
    }
}

